{% extends "base.html" %}
{% load static %}

{% block home_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock home_css %}

{% block content %}
    <div class="home-row">
        <div class="home-content">
            <h1 class="home-heading">Omar Nurbek <br>Robotics&IoT</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi quas amet quasi dolore aliquid?</p>
        </div>
        <div class="home-img">
            <img class="home-rigth-img" src="{% static "home/img/61529.jpg" %}" alt="" height="50px">
        </div>
    </div>
{% endblock content %}