@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

body {
    font-family: "Google Sans", sans-serif;
    font-size: 20px;
}

.container {
    max-width: 780px;
    padding: 0 15px;
    margin: 0 auto;
    /* background-color: antiquewhite; */
}

.header {
    padding-top: 22px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    color: #000000;
}

.nav-list {
    display: flex;
    column-gap: 30px;
}

.nav-link {
    font-weight: 300;
    color: #000000;
}