{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/reset.css" %}">

    {% block home_css %}{% endblock home_css %}
    <title>NurbekTech</title>
</head>
<body>
    {% comment %} HEADER {% endcomment %}
    <header class="header">
        <div class="container">
            {% comment %} NAV {% endcomment %}
            <div class="header-nav">
                <a href="/" class="logo">NurbekTech</a>
                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item"><a href="#" class="nav-link">Wiki</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    {% comment %} MAIN CONTENT {% endcomment %}
    <main class="main">
        <div class="container">
            {% block content %}{% endblock content %}  
        </div>
    </main>

    {% comment %} FOOTER {% endcomment %}
    <footer class="footer">
        <div class="container">
            FOOTERs
        </div>
    </footer>
</body>
</html>